name: Python CI

on:
  - push
  - pull_request

env:
  CI: true

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
      
      - name: Set up Python3
        uses: actions/setup-python@v4
        
      - name: Install uv
        run: |
          curl -LsSf https://astral.sh/uv/install.sh | sh
          
      - name: Create virtual environment
        run: |
          make venv-create
          
      - name: Install dependencies
        run: |
          source .venv/bin/activate
          make install-dev
          
      - name: Run linter
        run: |
          source .venv/bin/activate
          make lint
          
      # - name: Run tests
      #   run: |
      #     source .venv/bin/activate
      #     make test